django
djangorestframework
django-cors-headers
#rest-social-auth
#djangorestframework-jwt
django-rest-auth
django-extensions
django-allauth
#pillow
#uwsgi

#pygal
#django-registration-redux
#django-crispy-forms
#celery
#django-filter
#django-rest-auth[with_social]
#djangorestframework-jwt
#django-celery-results
#numpy
#matplotlib
#Pillow
#pandas
#git+https://github.com/Zulko/moviepy.git
#moviepy
#django-paypal
#colour
#svgwrite
#uwsgi
